<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    *{
      color: #0C5A67;
    }
  </style>
</head>
<body>
<div layout:fragment="content">
  <div class = "container ">
    <div class="row d-flex justify-content-center align-items-center mt-5">
      <div  class="col-8 h-80 d-block w-100 text-center" >

        <h1>O nama</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tristique, metus sed lobortis consequat, sem mi viverra tellus, sed porttitor ipsum augue a est. Quisque at ornare ipsum. Vivamus vitae lectus sit amet augue suscipit tempus. Suspendisse ullamcorper vel erat quis fermentum. Nunc tempor sapien nibh, id pellentesque metus interdum volutpat. Etiam convallis pretium diam, non venenatis mi. Maecenas sed erat tincidunt, congue ipsum at, pretium ex. Ut scelerisque luctus orci id blandit. Sed leo turpis, ultrices sit amet ultricies a, tincidunt et velit.

          Phasellus sit amet sapien quis massa bibendum condimentum non a mauris. Nunc feugiat mauris id dictum pellentesque. Etiam venenatis vel ipsum sed mattis. Nam a ex dolor. Curabitur ornare sagittis rutrum. Aliquam consectetur, augue at dapibus elementum, augue massa congue ex, sit amet hendrerit mauris nisi sit amet enim. Pellentesque magna dui, ultricies vitae eros vel, posuere faucibus diam. Nulla rutrum nibh ac massa ullamcorper suscipit. Nam efficitur ante augue, eu lacinia neque lobortis ac. Aliquam erat volutpat. In ac consectetur nibh, sit amet auctor risus. Donec blandit elementum magna, vel laoreet ante. Mauris rutrum turpis a turpis venenatis, ac blandit quam efficitur. Aliquam euismod erat velit, nec vehicula mauris mollis sed. Fusce semper tristique mollis. Sed at ante consequat, congue ante vel, semper odi</p>

        <h1>O projektu:</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tristique, metus sed lobortis consequat, sem mi viverra tellus, sed porttitor ipsum augue a est. Quisque at ornare ipsum. Vivamus vitae lectus sit amet augue suscipit tempus. Suspendisse ullamcorper vel erat quis fermentum. Nunc tempor sapien nibh, id pellentesque metus interdum volutpat. Etiam convallis pretium diam, non venenatis mi. Maecenas sed erat tincidunt, congue ipsum at, pretium ex. Ut scelerisque luctus orci id blandit. Sed leo turpis, ultrices sit amet ultricies a, tincidunt et velit.
        </p>

        <div class="d-flex align-items-between justify-center justify-content-between text-center">
          <div style="width: 50%;">
            <h3 >Use case dijagram</h3>
            <img src="/static/usecase.png" alt="" style="width: 100%; height:550px;background-color:#083b44;float: left;display: inline;">
          </div>
          <div style="width: 45%;" >
            <h3 >ER dijagram</h3>
            <img src="/static/er.png" alt="" style="width: 100%; height:550px;background-color:#083b44;float: right;display: inline;">
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
</body>
</html>