<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <title>Kompas</title>
</head>
<body>
<div layout:fragment="content">

  <div class="container vh-100">
    <div class="row d-flex justify-content-center align-items-center h-100" >
      <div class="card col-8 h-90 p-0" >
        <div class="card-body text-center p-5 col-12 rounded-bottom border-top-0" style="background-color: #abced4">
          <h2>Uredi profil!</h2>

          <form th:action="@{/profile/update/{id}(id=${users.id})}" th:object="${users}" method="post">

            <div class="m-3">

              <div class="form-group row my-2">
                <label class="col-12 col-form-label">Ime: </label>
                <div class="col-12">
                  <input  style="background-color: #f0e3db;" th:unless="${#fields.hasErrors('firstname')}" type="text" th:field="*{firstname}" class="form-control"/>
                  <input  style="background-color: #f0e3db;" th:if="${#fields.hasErrors('firstname')}" type="text" th:field="*{firstname}"
                          class="form-control  is-invalid"/>
                  <div th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}" class="invalid-feedback"></div>
                </div>
              </div>


                <div class="form-group row my-2">
                  <label class="col-12 col-form-label">Prezime : </label>
                  <div class="col-12">
                    <input  style="background-color: #f0e3db;" th:unless="${#fields.hasErrors('lastname')}" type="text" th:field="*{lastname}" class="form-control"/>
                    <input  style="background-color: #f0e3db;" th:if="${#fields.hasErrors('lastname')}" type="text" th:field="*{lastname}"
                            class="form-control  is-invalid"/>
                    <div th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}" class="invalid-feedback"></div>
                  </div>
                </div>


                  <div class="form-group row my-2">
                    <label class="col-12 col-form-label">E-mail : </label>
                    <div class="col-12">
                      <input  style="background-color: #f0e3db;" th:unless="${#fields.hasErrors('email')}" type="text" th:field="*{email}" class="form-control"/>
                      <input  style="background-color: #f0e3db;" th:if="${#fields.hasErrors('email')}" type="text" th:field="*{email}"
                              class="form-control  is-invalid"/>
                      <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="invalid-feedback"></div>
                    </div>
                  </div>


                    <div class="form-group row my-2">
                      <label class="col-12 col-form-label">Spol : </label>
                      <div class="col-12">
                        <select class="form-select" aria-label="Default select example" th:field="*{gender}" style="background-color: #f0e3db;"  >
                          <option selected value="">Spol</option>
                          <option th:value="Man">Man</option>
                          <option th:value="Woman">Woman</option>
                          <option th:value="Other">Other</option>
                        </select>
                      </div>
                    </div>








                <div class="form-group row my-2">
                  <label class="col-12 col-form-label">Datum Rođenja: </label>
                  <div class="col-12">
                    <input  style="background-color: #f0e3db;" th:unless="${#fields.hasErrors('dateOfBirth')}" type="date" th:field="*{dateOfBirth}" class="form-control" value="."/>
                    <input  style="background-color: #f0e3db;" th:if="${#fields.hasErrors('dateOfBirth')}" type="date" th:field="*{dateOfBirth}" value="." class="form-control  is-invalid"/>
                    <div th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}" class="invalid-feedback"></div>
                  </div>
                </div>



                <div class="my-2">
                  <button type="submit" class="btn btn-block btn-primary" style="width: 100%; border: #0C5A67; background-color: #0C5A67;">Uredi profil!</button>
                </div>

            </div>
          </form>

        </div>
      </div>
    </div></div></div>


</body>
</html>